.aboutMe {
  padding: 30% 0% 0;
  margin: 0 10% 0;
}
.aboutMe h2 {
  font-family: "Kay Pho Du", serif;
  text-align: center;
}
.aboutMe hr {
  margin: 3% 0;
  color: rgba(174, 174, 174, 0.222);
  border: 0.5px solid rgba(148, 148, 148, 0.934);
}
.aboutMe h5 {
  font-weight: 300;
  text-align: center;
}
.summarize-about {
  width: 100%;
  min-height: 40vh;
  border: 1px solid rgb(144, 144, 144);

  margin: 5% 0 0;
  padding: 1%;
}
.img0 {
  width: 100%;
  height: 100%;
  text-align: center;
}
.img0 img {
  width: 70%;
  width: 70%;
}
.summarize-about table {
    margin: 5% 0 0;
    padding: 0 3% 0;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    overflow-x: auto;
}
.summarize-about table td {
    padding: 0 5% 0;
}
.aboutMe p:nth-child(4) {
    /* color:red; */
    font-weight:300;
    font-size: 14px;
    margin: 5% 0 10%;
}
.aboutMe p:nth-child(4) a {
    text-decoration: none;
    color: rgb(100, 100, 199);
    cursor: pointer;
}
table {
  width: 100%;
  height: auto;
  table-layout: fixed;
}
