.credentials-body {
  padding: 30% 0% 0;
  margin: 0 10% 10%;
}
.parentbox0 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height:30%;
}
.parentbox0 a {
  /* flex: 0 0 calc(33.333% - 2%); */
  box-sizing: border-box;
  padding: 2%;
  margin: 1%;
  outline: 1px solid;
  text-decoration: none;
  outline: 1px solid whitesmoke;
  transition: 0.5s ease;
}
.box0,
.box1,
.box2 {
  color: whitesmoke;
}
.parentbox0 a:hover {
  /* background-color: #948979; */
  background: rgba(255, 255, 255, 0.1); /* semi-transparent */
}
.container0 {
  margin: 5% 0%;
}
.container0 .title0 {
  font-size: 30px;
  font-weight: 600;
}