.main_container {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0% 0 0;
}
.myProjects_container {
  width: 90%;
  /* max-width: 800px; */
  margin: 35% auto;
  padding: 0% auto;
  text-align: center;
  z-index: 1;
}

.myProjects_container h2 {
  width: 90%;
  padding: auto;
  margin:auto;
  text-align: right;
}
.slider {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  margin: 20px auto; /* centers horizontally */
  width: 99%; /* or a fixed px width like 800px */
  z-index: 1;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}
.myProject0 {
  width: 100%;
  height: 100%;
  flex: 0 0 100%; /* each slide = 100% width of slider */
}
.myProject0 img {
  width: 100%;
  /* height: 300px; */
  aspect-ratio: 4 / 3;
  object-fit: cover; /* fills container without distortion */
  display: block; /* removes inline gap */
  border-radius: 12px;
}
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px; /* fixed width */
  height: 30px; /* fixed height (same as width) */
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%; /* makes it a circle */
  user-select: none;
  display: flex; /* centers the arrow */
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.projDesc {
    width: 95%;
    height: auto;
    margin: 5px auto;
    text-align: left;
}
.projDesc p {
    padding: 10px 0; 
}
.proj-link {
  color:white;
  font-family: "Poppins", sans-serif;
}