@media screen and (min-width: 400px) {
  .logo {
    width: 50%;
  }
  .banner {
    max-width: 100%;
    min-height: 40vh;
    background-image: linear-gradient(
        rgba(15, 15, 16, 0.788),
        rgba(17, 17, 18, 0.583)
      ),
      url("../resources/header-background.jpg");
    background-position: 5% 0%;
    background-size: no-repeat;
    background-size: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    padding: 0 50px;
    margin: 10px 30px;
  }
  .logo {
    width: 60%;
    font-size: 20px;
    text-align: right;
  }
  .banner {
    max-width: 100%;
    min-height: 60vh;
    background-image: linear-gradient(
        rgba(15, 15, 16, 0.788),
        rgba(17, 17, 18, 0.583)
      ),
      url("../resources/header-background.jpg");
    background-position: 5% 0%;
    /* background-size: no-repeat; */
    background-size: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
  }
  .banner h1 {
    font-family: "Kay Pho Du", serif;
    margin: 50px 0 0;
    font-size: 60px;
    /* transform: scale(1.5); */
  }
  .banner-links {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: 400;

    margin: 20px 0 0 0;
    text-align: center;
  }
  .homepage-aboutMe {
    padding: 50px 13%;
  }
  .nav-links {
    padding: 15% 0;
    font-size: 25px;
  }
  .input-area {
    top: 30%;
    left: 26%;
  }
  .jes-gradPhoto {
    display: block;
    /* aspect-ratio: 4 / 3; */
  }
  .homepage-aboutMe h2 {
    font-size: 35px;
  }
  .largeScreen-nav {
    display: block;
  }
  .hamburger {
    display: none;
  }
  /* .homepage-hrzLine {
    width: 80%;
  } */
  .slider {
    width: 70%;
    margin: 3% auto;
  }
  /* .desktop-flex {
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-around;
    gap: 40px;
  } */
  .others {
    width: 90%;
    margin: 0 auto;
  }
  .lang-used {
    width: 80%;
    margin: 20px auto;
    align-items: left;
    text-align: left;
    display: flex;
  }
  .soft-used {
    width: 80%;
    margin: 20px auto;
    align-items: left;
  }
  .lang-used p {
    max-width: 20%;
    margin: 0;
    text-align: left;
  }
  .soft-used p {
    max-width: 20%;
    margin: 0;
    text-align: left;
  }
  .lang-container {
    width: 80%;
  }
  .soft-container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
  }
  .lang-used img,
  .soft-used img {
    width: 10%;
    height: 5%;
    padding: 2px;
  }
  .others {
    width: 80%;
    margin: 0 auto;
  }
  .box2 {
    margin: 0;
  }
  .homepage-description {
    /* padding: 20 10px 0; */
    margin: 30px 0 0;
    align-items: flex-start;
    /* text-align: left; */
    font-size: 18px;
  }
  .aboutMe {
    padding: 15% 0% 0;
    margin: 0 5% 0;
  }
  .lrg-scrn {
    display: flex;
  }
  /* .main_container {
    display: flex;
    flex-direction: row;
  } */
  .summarize-about {
    width: 50%;
    min-height: 40vh;
    border: 1px solid rgb(144, 144, 144);

    margin: 0%;
    padding: 1%;
    overflow: auto;
    min-width: 0;
  }
  .bio {
    width: 50%;
    margin: 0 5% 0;
  }
  .img0 {
    width: 100%;
    height: 40%;
    text-align: center;
  }
  .img0 img {
    width: 70%;
    width: 70%;
  }

  /* ---------- 04_projects.html ---------- */
  .myProjects_container {
    margin: 10% auto;
  }
  .projDesktop-size {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  .projDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .projDesc h3 {
    font-size: 30px;
    margin: 0 auto;
    width: 80%;
  }
  .projDesc p {
    width: 80%;
    font-size: 18px;
    margin: 0 auto;
  }
  .proj-link {
    width: 80%;
    margin: 5px auto;
  }

  /* ---------- FOOTER ---------- */
  footer {
    width: 100%;
    margin: 0 auto;
  }
  .foot-parent0 {
    width: 75%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
  }
  .foot-navlink ul {
    font-size: 20px;
  }
  .email_box {
    width: 90%;
    margin: auto;
  }
  .socials img {
    width: 5%;
    /* height: 10%; */
    margin: 5px;
  }
  .foot-parent-mobile {
    display: none;
  }

  /* ---------- 06_contact.html ---------- */
  .contactMe {
    padding: 12% 25% 0;
  }
}
